<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <title>{% block title %} {% endblock title %}</title>
  <style>
  {% block style %} {% endblock style %}
  </style>
</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Blog.in</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% block homeactive %}{% endblock homeactive %}" aria-current="page"
              href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block conatctactive %}{% endblock conatctactive %}" href="/contact">Contect us</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link {% block Createpost  %}{% endblock Createpost %}" href="/userpost">Create Post</a>
          </li>
        

      </div>

      

      {% endif %}





        </ul>
        <form method="get" action="/search" class="d-flex">
          <input class="form-control me-2" name="query" id="query" type="search" placeholder="Search"
            aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>


        {% if user.is_authenticated %}
        <a href="/logout" class="btn btn-danger mx-2 btn-lg " role="button" aria-pressed="true">logout {{request.user}}
        </a>

      </div>

      {% else %}
      <button type="button" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#singup">
        Sing Up
      </button>
      <button type="button" class="btn btn-success mx-2" data-bs-toggle="modal" data-bs-target="#login">
        Login
      </button>

      {% endif %}

    </div>
    </div>
  </nav>




  {% for message in messages %}


  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Massage</strong> {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  {% endfor %}


  <div class="modal fade" id="login" name="singup" tabindex="-1" aria-labelledby="login" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="login">Login </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class=" g-3" method="post" action="/login">
            {% csrf_token %}
            <div class="col-md-8">
              <label for="loguname" class="form-label mx-5">User Name</label>
              <input type="text" class="form-control mx-5" id="loguname" name="loguname">
            </div>


            <div class="col-md-8">
              <label for="logpassword" class="form-label mx-5">Password</label>
              <input type="password" class="form-control mx-5" id="logpassword" name="logpassword">
            </div>
            <center>
              <button type="submit" class="btn btn-primary my-3 mx-3">Submit</button>
            </center>



          </form>
        </div>
        <div class="modal-footer">


          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>







  <div class="modal fade" id="singup" name="singup" tabindex="-1" aria-labelledby="singup" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="singup">Sing Up For New User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row g-3" method="post" action="/singup">
            {% csrf_token %}
            <div class="col-md-6">
              <label for="uname" class="form-label">User Name</label>
              <input type="text" class="form-control" id="uname" name="uname" Required>
            </div>
            <div class="col-md-6">

              <label for="fname" class="form-label">First Name</label>
              <input type="text" class="form-control" id="fname" name="fname" Required>
            </div>
            <div class="col-md-6">
              <label for="lname" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lname" name="lname" Required>
            </div>
            <div class="col-md-6">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" Required>
            </div>

            <div class="col-md-6">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" Required>
            </div>
            <div class="col-md-6">
              <label for="copassword" class="form-label">Conform Password</label>
              <input type="password" class="form-control" id="copassword" name="copassword" Required>
              </di <div class="col-md-6">
              <label for="city" class="form-label">City</label>
              <input type="text" class="form-control" id="city" name="city" Required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>


          </form>
        </div>
        <div class="modal-footer">


          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>




  {% block body %}{% endblock body %}

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
    integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
    integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
    crossorigin="anonymous"></script>

</body>

</html>